<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711195323914-m5i43t6s5psa3d0eolvsah4fo5v6q7u0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711195323914-m5i43t6s5psa3d0eolvsah4fo5v6q7u0</string>
	<key>API_KEY</key>
	<string>AIzaSyBKySnNDTpQGTrIOEKp91ab697mvoFMDqc</string>
	<key>GCM_SENDER_ID</key>
	<string>711195323914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AphasiaApp</string>
	<key>PROJECT_ID</key>
	<string>aphasiaapp-a51fe</string>
	<key>STORAGE_BUCKET</key>
	<string>aphasiaapp-a51fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711195323914:ios:e0ad9de08d19617b3879f3</string>
	<key>DATABASE_URL</key>
	<string>https://aphasiaapp-a51fe.firebaseio.com</string>
</dict>
</plist>